body {
}

#title{
  background: linear-gradient(to right,rgb(255, 107, 247), rgb(136, 45, 255));
  text-align: center;
}
table, th, tr, td{
  border-collapse: collapse;
  font-family:cursive;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#jumpstable{
  margin-left: auto;
}
#deductionstable{
  margin: : auto;
}
#fall{
  font-family: cursive;
}

#edge{
  font-family: cursive;
}

#singleSalchow{
  font-family: cursive;
}

#singleToe{
  font-family: cursive;
}

#singleEuler{
  font-family: cursive;
}

#singleLoop{
  font-family: cursive;
}

#singleEuler{
  font-family: cursive;
}

#singleLoop{
  font-family: cursive;
}

#singleFlip{
  font-family: cursive;
}

#singleLutz{
  font-family: cursive;
}

#singleAxel{
  font-family: cursive;
}

#doubleSalchow{
  font-family: cursive;
}

#doubleToe{
  font-family: cursive;
}

#doubleLoop{
  font-family: cursive;
}

#doubleFlip{
  font-family: cursive;
}

#doubleLutz{
  font-family: cursive;
}

#doubleAxel{
  font-family: cursive;
}

#tripleSalchow{
  font-family: cursive;
}

#tripleToe{
  font-family: cursive;
}

#tripleLoop{
  font-family: cursive;
}

#tripleFlip{
  font-family: cursive;
}

#tripleLutz{
  font-family: cursive;
}

#tripleAxel{
  font-family: cursive;
}

#slash{
  font-family: cursive;
}

#quadToe{
  font-family: cursive;
}

#quadSalchow{
  font-family: cursive;
}

#quadLoop{
  font-family: cursive;
}

#quadFlip{
  font-family: cursive;
}

#quadLutz{
  font-family: cursive;
}

#quadAxel{
  font-family: cursive;
}
